<div class="question_show">

  <h2><%= @question.question_text %></h2>
    <%= image_tag @questioning_user.gravatar_url, { :class => "poster_image" }  %>
    Posted By:
    <%= @questioning_user.email %><br>

</div>

  <br><br>

<h4 id="button_id">Post an Answer!</h4>

<div class="answers_show">
  <h3>Answers:</h3>
    <% @question.answers.each do |answer| %>
    >> <%= answer.answer_text %>
      <ul>
          <li>
            
            <div class="answerer_info"> <%= link_to image_tag(User.find(answer.user_id).gravatar_url), user_path(User.find(answer.user_id)) %>    
              Answered by: <%= User.find(answer.user_id).name %><br> 
              Tags: <% answer.tags.each do |tag| %>
                      <%= link_to(tag.name, tag_path(tag)) %>

              <% end %>
            
          </li>
      </ul>

      <% end %>
</div>
  <br> 

<% if session[:user_id] %>


  <%= form_for @answer do |f|%>
    <ul class="formList">
      <li>
        <%= f.text_area :answer_text, size: "40x10" %>
      </li>
      <li>
      
        <span id="tags">Tag Me?</span><span id="tag_form"><%= text_field_tag :tag_names %>
      </li>
      <li>
        <%= hidden_field_tag :question_id, @question.id %>
      </li>
      </span>
      <li>

        <%= f.submit "Post Answer" %>
      </li>
    </ul>
  <% end %>
  <%end%>

</div>
