


  <%= form_for @answer do |f|%>
    <ul class="formList">
      <li>
        <%= f.text_area :answer_text, size: "40x10" %>
      </li>
      <li>
        <span id="tags">Add a Tag</span>
        <span id="tag_form"><%= f.text_field :tag_names %>
      </li>
      <li>
        <%= hidden_field_tag :question_id, @question.id %>
      </li>
      </span>
      <li>

        <%= f.submit "Post Answer" %>
      </li>
    </ul>
  <% end %>
