


  <%= form_for @answer do |f|%>
    <ul class="formList">
      <li>
        <%= f.text_area :answer_text, size: "40x10" %>
      </li>
      <li>
        <span class="new_tag">
        <%= f.fields_for :tag_names do |tags_form| %>
          <%= render 'answers/tag_fields', :f => tags_form %>
        <button id="new_tag">Add a tag</button>

          <%= render 'answers/tag_fields', :f => tags_form %>
        <% end %>
      </li>
      <li>
      </span>
        <%= hidden_field_tag :question_id, @question.id %>
      </li>
      <li>

        <%= f.submit "Post Answer" %>
      </li>
    </ul>
  <% end %>
